#interactive-graph {
  display: inline-block;
  background-color: #FFFFFF;
  width: 20em;
  height: 20em;
}

.point {
  height: 10px;
  width: 10px;
  position: absolute;
  display: inline-block;
  border-radius: 50%;
  border: 1px solid white;
}

.color {
  height: 20px;
  width: 20px;
  margin: 2px;
  border-radius: 50%;
  border: 0px solid white;
}

.color:hover {
  height: 20px;
  width: 20px;
  margin: 2px;
  border-radius: 50%;
  border: 2px solid white;
}